div {
    display: flex;
    flex-direction: column;
}

.container {

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    border: solid #F3DAF7 5px;
    border-left: solid #F3DAF7 50px;
    border-right: solid #F3DAF7 50px;
    border-radius: 75px;
    background-color: #F3DAF7;
}

button {
    width: 100px;
    height: 100px;
    padding: 0px;
    border-radius: 50px;
}

.display {
    align-self: center;
    width: 400px;
    height: 100px;
    border: solid #F3DAF7 50px;
    border-bottom: solid #F3DAF7 10px;
    border-radius: 75px;
}

.fourth {
    border-bottom: solid #F3DAF7 25px;
}

#divide,
#multiply,
#add,
#subtract {
    background-color: #EEC6DA;
}

#equals,
#seven,
#eight,
#nine {
    background-color: #F9E4B1;
}

#clear,
#four,
#five,
#six {
    background-color: #C8E4C7;
}

#zero,
#one,
#two,
#three {
    background-color: #A2D0E9;
}

#clear,
#equals {
    background-color: #FB8C5B;
}