div {
    display: flex;
    flex-direction: column;
}

.container {

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    border-left: solid pink 50px;
    border-right: solid pink 50px;
}

button {
    width: 100px;
    height: 100px;
    padding: 0px;
}

.display {
    align-self: center;
    width: 400px;
    height: 100px;
    border: solid pink 50px;
    border-bottom: 0px;
}

.fourth {
    border-bottom: solid pink 50px;
}